[Desktop Entry]
Name=UniShellect
GenericName=unishellect application
Comment=Load files/applications with arguments from a JSON file
Exec=unishellect
Terminal=true
Type=Application
Icon=unishellect
Categories=GNOME;GTK;Utility;
